
<h1>{{ctrl.apiTitle}} Entity Reference {{ctrl.isDev ? "(DEV)" : ""}}</h1>
<p>Updated: {{ctrl.lastUpdatedDate}}</p>

<p>
    This topic describes the entity and type representations for common items that the {{ctrl.apiTitle}} API uses. To learn
    about how to set up your developer account and work with the SKY API, see the
    <a ng-href="{{ ctrl.getStartedUrl }}">Getting Started</a> guide.
</p>

<p ng-show="ctrl.showErrorMessage" class="alert alert-danger">
    There was an issue loading the Entity Reference for the {{ctrl.apiTitle}} API.
</p>

<ul id="entities">
    <li ng-repeat="entity in ctrl.entities" style="margin: 0px">
        <a ng-href="#{{entity.displayId}}">{{entity.displayName}}</a>
    </li>
</ul>

<div name="{{entity.displayId}}" ng-repeat="entity in ctrl.entities">
    <p>&nbsp;</p>
    <h2>{{entity.displayName}}</h2>
    <p>{{entity.description}}<p>
    <p>The <strong>{{entity.displayName}}</strong> entity has the following properties:</p>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th class="entityref_property"><strong>Property</strong></th>
                    <th class="entityref_type"><strong>Type</strong></th>
                    <th class="entityref_description"><strong>Description</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(property_name, property) in entity.details.properties">
                    <td>{{property_name}}</td>
                    <td>
                        <span ng-show="property.isArray">array of</span>
                        <span ng-show="!property.ref">{{property.displayType}}</span>
                        <a ng-show="!!property.ref" ng-href="#{{property.displayId}}">{{property.displayType}}</a>
                    </td>
                    <td>
                        <span ng-bind-html="property.descriptionHtml"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div ng-if="entity.additionalInfoHtml" ng-bind-html="entity.additionalInfoHtml"></div>
</div>
