<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <p>&copy; 2016 Blackbaud, Inc. All rights reserved.</p>
            </div>
        </div>
    </div>
</div>