<div class="comments">
    <div id="comments_container" style="padding: 15px 0; text-align: left">
        <h3><i class="fa fa-lg fa-comment-o fa-pull-left"></i> Comments</h3>
        <div>
            Have a question?  See a problem with our docs?  Want to engage with the SKY API team?  Please visit us on the <a href="https://community.blackbaud.com/forums/viewcategory/425">SKY API Community</a>!
        </div> 
    </div>    
</div>