<div class="pull-right partial-edit-header">
    <a href="{{ editInGitHubLink }}" target="_blank" class="edit-link btn btn-primary" rel="noopener noreferrer">
        <i class="fa fa-pencil"></i> Edit in GitHub
    </a>
</div>